.messenging-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.messenging-messenging {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.messenging-pageheading {
  top: 112px;
  left: 0px;
  width: 1440px;
  height: 149px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.messenging-defaultchip {
  gap: 8px;
  top: 76px;
  left: 1159px;
  width: 88px;
  height: 40px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(223, 50, 50, 0.8745098114013672);
}
.messenging-text {
  top: 9.5px;
  left: 17px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.messenging-a-zchip {
  gap: 8px;
  top: 76px;
  left: 1263px;
  width: 62px;
  height: 40px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(194, 194, 194, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.messenging-text02 {
  top: 9.5px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.messenging-text04 {
  top: 56px;
  left: 96px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Newsreader;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.messenging-divider {
  top: 149px;
  left: 96px;
  width: 1248px;
  height: 1px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.messenging-navigation {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 112px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.messenging-text06 {
  top: 40px;
  left: 88px;
  color: rgba(223, 50, 50, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.messenging-text08 {
  top: 46px;
  left: 851px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.messenging-text10 {
  top: 46px;
  left: 977px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.messenging-text12 {
  top: 46px;
  left: 1112px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.messenging-cartbutton {
  gap: 8px;
  top: 32px;
  left: 1218px;
  width: 126px;
  height: 48px;
  display: flex;
  padding: 14px 23px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(223, 50, 50, 1);
}
.messenging-text14 {
  top: 13.5px;
  left: 30px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.messenging-img21151 {
  top: 17px;
  left: 6px;
  width: 82px;
  height: 77px;
  position: absolute;
}
.messenging-rectangle5 {
  top: 319px;
  left: 96px;
  width: 1026px;
  height: 61px;
  position: absolute;
}
.messenging-rectangle6 {
  top: 408px;
  left: 95px;
  width: 1026px;
  height: 61px;
  position: absolute;
}
.messenging-rectangle7 {
  top: 497px;
  left: 95px;
  width: 1026px;
  height: 61px;
  position: absolute;
}
.messenging-rectangle8 {
  top: 586px;
  left: 95px;
  width: 1026px;
  height: 61px;
  position: absolute;
}
.messenging-ellipse279 {
  top: 336px;
  left: 1165px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.messenging-ellipse280 {
  top: 425px;
  left: 1165px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.messenging-ellipse281 {
  top: 603px;
  left: 1165px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.messenging-ellipse282 {
  top: 511px;
  left: 1165px;
  width: 28px;
  height: 28px;
  position: absolute;
}
